<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.light.mapper.LightMapper">
  <resultMap id="BaseResultMap" type="com.vip.light.domain.entity.Light">
    <!--@mbg.generated-->
    <id column="light_id" jdbcType="INTEGER" property="lightId" />
    <result column="lamp_id" jdbcType="INTEGER" property="lampId" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="equipment_manufacturer" jdbcType="VARCHAR" property="equipmentManufacturer" />
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel" />
    <result column="factory_time" jdbcType="TIMESTAMP" property="factoryTime" />
    <result column="your_region" jdbcType="OTHER" property="yourRegion" />
    <result column="connection_status" jdbcType="TINYINT" property="connectionStatus" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="founder" jdbcType="VARCHAR" property="founder" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    light_id, lamp_id, serial_number, equipment_manufacturer, equipment_model, factory_time, 
    your_region, connection_status, creation_time, founder
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from light
    where light_id = #{lightId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from light
    where light_id = #{lightId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="light_id" keyProperty="lightId" parameterType="com.vip.light.domain.entity.Light" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into light (lamp_id, serial_number, equipment_manufacturer, 
      equipment_model, factory_time, your_region, 
      connection_status, creation_time, founder
      )
    values (#{lampId,jdbcType=INTEGER}, #{serialNumber,jdbcType=VARCHAR}, #{equipmentManufacturer,jdbcType=VARCHAR}, 
      #{equipmentModel,jdbcType=VARCHAR}, #{factoryTime,jdbcType=TIMESTAMP}, #{yourRegion,jdbcType=OTHER}, 
      #{connectionStatus,jdbcType=TINYINT}, #{creationTime,jdbcType=TIMESTAMP}, #{founder,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="light_id" keyProperty="lightId" parameterType="com.vip.light.domain.entity.Light" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into light
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lampId != null">
        lamp_id,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="equipmentManufacturer != null">
        equipment_manufacturer,
      </if>
      <if test="equipmentModel != null">
        equipment_model,
      </if>
      <if test="factoryTime != null">
        factory_time,
      </if>
      <if test="yourRegion != null">
        your_region,
      </if>
      <if test="connectionStatus != null">
        connection_status,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="founder != null">
        founder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lampId != null">
        #{lampId,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="equipmentManufacturer != null">
        #{equipmentManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null">
        #{equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="factoryTime != null">
        #{factoryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yourRegion != null">
        #{yourRegion,jdbcType=OTHER},
      </if>
      <if test="connectionStatus != null">
        #{connectionStatus,jdbcType=TINYINT},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vip.light.domain.entity.Light">
    <!--@mbg.generated-->
    update light
    <set>
      <if test="lampId != null">
        lamp_id = #{lampId,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="equipmentManufacturer != null">
        equipment_manufacturer = #{equipmentManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null">
        equipment_model = #{equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="factoryTime != null">
        factory_time = #{factoryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yourRegion != null">
        your_region = #{yourRegion,jdbcType=OTHER},
      </if>
      <if test="connectionStatus != null">
        connection_status = #{connectionStatus,jdbcType=TINYINT},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founder != null">
        founder = #{founder,jdbcType=VARCHAR},
      </if>
    </set>
    where light_id = #{lightId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vip.light.domain.entity.Light">
    <!--@mbg.generated-->
    update light
    set lamp_id = #{lampId,jdbcType=INTEGER},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      equipment_manufacturer = #{equipmentManufacturer,jdbcType=VARCHAR},
      equipment_model = #{equipmentModel,jdbcType=VARCHAR},
      factory_time = #{factoryTime,jdbcType=TIMESTAMP},
      your_region = #{yourRegion,jdbcType=OTHER},
      connection_status = #{connectionStatus,jdbcType=TINYINT},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      founder = #{founder,jdbcType=VARCHAR}
    where light_id = #{lightId,jdbcType=INTEGER}
  </update>
</mapper>