<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.wifi.mapper.WifiMapper">
  <resultMap id="BaseResultMap" type="com.vip.wifi.domain.entity.Wifi">
    <!--@mbg.generated-->
    <id column="wifi_id" jdbcType="INTEGER" property="wifiId" />
    <result column="lamp_id" jdbcType="INTEGER" property="lampId" />
    <result column="wireless_status" jdbcType="INTEGER" property="wirelessStatus" />
    <result column="equipment_manufacturer" jdbcType="VARCHAR" property="equipmentManufacturer" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel" />
    <result column="factory_time" jdbcType="DATE" property="factoryTime" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="founder" jdbcType="VARCHAR" property="founder" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="value_id" jdbcType="VARCHAR" property="valueId" />
  </resultMap>

  <resultMap id="wifiVoMap" type="com.vip.wifi.domain.vo.WifiVo" extends="BaseResultMap">
    <association property="keyTableVoList" resultMap="com.vip.wifi.mapper.KeyTableMapper.SelectValuesMap"/>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    wifi_id, lamp_id, wireless_status, equipment_manufacturer, serial_number, equipment_model, 
    factory_time, creation_time, founder, is_delete, value_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="wifiVoMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wifi
    where wifi_id = #{wifiId,jdbcType=INTEGER}
    and is_delete=1
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    update wifi set is_delete=2
    where wifi_id = #{wifiId,jdbcType=INTEGER}
  </update>
  <insert id="insert" keyColumn="wifi_id" keyProperty="wifiId"  useGeneratedKeys="true">
    insert into wifi
    (wifi_id,lamp_id, equipment_manufacturer,
      serial_number, equipment_model, factory_time,
      value_id)
    values
    (#{wifi.wifiId},#{wifi.lampId}, #{wifi.equipmentManufacturer},
      #{wifi.serialNumber}, #{wifi.equipmentModel}, #{wifi.factoryTime},
      #{wifi.valueId})
  </insert>
</mapper>