<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.wifi.mapper.WifiPropertiesMapper">
  <resultMap id="BaseResultMap" type="com.vip.wifi.domain.entity.WifiProperties">
    <!--@mbg.generated-->
    <id column="wifi_properties_id" jdbcType="INTEGER" property="wifiPropertiesId" />
    <result column="ways_of_identifying" jdbcType="INTEGER" property="waysOfIdentifying" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="wifi_id" jdbcType="INTEGER" property="wifiId" />
    <result column="key_value_id" jdbcType="VARCHAR" property="keyValueId" />
    <result column="speed_limit" jdbcType="INTEGER" property="speedLimit" />
  </resultMap>

  <resultMap id="WifiProMap" type="com.vip.wifi.domain.vo.WifiPropertiesVo" extends="BaseResultMap">
    <association property="keyTableVoList" resultMap="com.vip.wifi.mapper.KeyTableMapper.SelectValuesMap"/>
  </resultMap>


  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    wifi_properties_id, ways_of_identifying, `password`, wifi_id, key_value_id, speed_limit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="WifiProMap">
    select
    <include refid="Base_Column_List" />
    from wifi_properties
    where wifi_id = #{wifiId,jdbcType=INTEGER}
  </select>

  <insert id="insert" >
    <!--@mbg.generated-->
    insert into wifi_properties ( wifi_id)
    values (#{wifiId,jdbcType=INTEGER})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.vip.wifi.domain.entity.WifiProperties">
    <!--@mbg.generated-->
    update wifi_properties
    set
    <if test="password!=null">
      `password` = #{password,jdbcType=VARCHAR},
    </if>
      key_value_id = #{keyValueId,jdbcType=VARCHAR},
      speed_limit = #{speedLimit,jdbcType=INTEGER}
    where wifi_id=#{wifiId}
  </update>

</mapper>